server rtc.debian.org {
  listen {
    ipaddr = 127.0.0.1
    port = 0
    type = auth
  }

  authorize {
    rtc_users
    digest
  }

  authenticate {
    digest
  }

  preacct {
  }

  accounting {
  }

  session {
  }

  post-auth {
    update reply {
      Reply-Message = "thanks for using rtc.debian.org"
    }
    Post-Auth-Type REJECT {
      attr_filter.access_reject
    }
  }

  pre-proxy {
  }

  post-proxy {
  }

  client localhost {
    ipaddr = 127.0.0.1
    secret = <%= @radius_password %>
  }
}
